<h1><%= @giver.name %>'s Gifts</h1>

<a href="/givers">All Gift Givers</a>

<% @gifts.each do |gift| %>
  <ul>
    <li><%= gift.name %> (<a href="/events/<%= gift.event.id %>"><%= gift.event.name %></a> <%= gift.event.date %>)</li>
  </ul>
<% end %>
