<h1><%= @event.name %></h1>
<h3><%= @event.date %></h3>

<a href="/logout">Log Out</a><br>
<a href="/events">All Events</a><br>
<a href="/events/<%= @event.id %>/delete">Delete Event</a><br><br>
<a href="/events/<%= @event.id %>/gifts/new">Create New Gift</a>

<h2>Gifts</h2>
<% @gifts.each do |gift| %>
  <ul>
    <input type="checkbox"> <%= gift.name %>
  </ul>
<% end %>
