<h1><%= @event.name %></h1>
<h3>Date of Event: <%= @event.date %></h3>

<a href="/logout">Log Out</a><br>
<a href="/events/<%= @event.id %>/edit">Edit Event</a><br>
<a href="/events">All Events</a><br>
<a href="/events/<%= @event.id %>/delete">Delete Event</a><br><br>
<a href="/events/<%= @event.id %>/gifts/new">Create New Gift</a>

<h2>Gifts</h2>
<% @gifts.each do |gift| %>
  <ul>
    <li><%= gift.name %> (<a href="/events/<%= @event.id %>/gifts/<%= gift.id %>/edit">edit</a>) (<a href="/gifts/<%= gift.id %>/delete">delete</a>)</li>
    <ul>
      <% gift.givers.each do |giver| %>
        <input type="checkbox"><%= giver.name %><br>
      <% end %>
    </ul><br>
  </ul>
<% end %>
